@import "../../styles/main_styles.scss";

#event-search-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    grid-gap: 0;
    //height: 100%;
    background-color: $color-background-primary;

    #event-search-upper {
        grid-column: 2;
        grid-row: 1; // / -1;
        background-color: $color-background-secondary;
    }
    #event-search-filter-section {
        grid-column: 1;
        grid-row: 1 / -1; // / -1;
        position: sticky;
        top: $navbar_logo_size + 1rem;
        height: 0;
    }
    #event-search-cards-section {
        grid-column: 2;
        grid-row: 2 / -2;
        background-color: $color-background-tertiary;
        height: 1000px;
        overflow: auto;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        * {
            grid-column: 1 !important;
        }

        #event-search-cards-section {
            grid-row: 3;
        }
        #event-search-filter-section {
            grid-row: 2;
            position: unset;
            height: auto;
        }
    }
}
