@import "../../styles/main_styles.scss","../../styles/atomic_components.scss","../../styles/button_styles.scss";

#filter-section {
    border-radius: 0.5rem;
    background-color: $color-background-secondary;
    margin: 0.5rem;
    padding: 0.5rem;
}

#filter-section-countries-input {
    @include default_input_field($color-background-primary, $color-text-primary, auto, 1rem);
}

#filter-section-button {
    @include custom_hover_button($color-primary, $color_text_primary, 1rem, 0.25rem, 0.5rem);
    margin: 2rem 0.5rem;
    height: 3.5rem;
    width: 7rem;
    font-size: 1.5rem;
}

#filter-section-title{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#filter-section-date-text {
    margin: 0 1rem;
}