@import "../../../styles/main_styles.scss", "../../../styles/button_styles.scss",
    "../../../styles/atomic_components.scss";

$default_margin: 0.25rem 0;

.dropdown-auth {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

.dropdown-auth-input {
    @include default_input_field($color-background-primary, $color-text-primary, auto, 1rem);
    margin: $default_margin;
}

.auth-dropdown-button {
    @include custom_hover_button($color_primary, $color_text_primary, 1rem, 0.25rem, 0.5rem);
    margin: 0.75rem 0;
}

#hint-text{
    font-size: 0.7rem;
}

#create-account-p {
    margin: $default_margin;
    font-size: 0.92rem;
    div {
        -webkit-appearance: hyperlink; 
        -moz-appearance: hyperlink; 
        appearance: hyperlink;
        text-decoration: underline;
        color: $color-link;
        transition: all 200ms;
        cursor: pointer;

        &:hover {
            color: lighten($color-link, 10%);
        }
    }
}

#register-dropdown-button {
    background-color: $color_secondary !important;
}
