@import "../../../styles/main_styles.scss", "../../../styles/button_styles.scss",
    "../../../styles/atomic_components.scss";

$default_margin: 0.25rem 0;

.dropdown-menu-item {
    display: block;
    padding: 0.25rem;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

#hint-text{
    font-size: 0.7rem;
}

.dropdown-settings-input {
    @include default_input_field($color-background-primary, $color-text-primary, auto, 1rem);
    margin: 0;
}

#menu-dropdown-settings-button {
    @include custom_hover_button($color-primary, $color_text_primary, 0.7rem, 0.25rem, 2rem);
    margin: 0.5rem 0 1.5rem 0;
}

#menu-dropdown-contacts-search-button {
    @include custom_hover_button($color-primary, $color_text_primary, 1rem, 0.25rem, 2rem);
    margin-left: 1rem;
}

#menu-dropdown-settings-logout-button {
    @include custom_hover_button($color-secondary, $color_text_primary, 1.5rem, 0.25rem, 0.5rem);
    margin: 0;
    margin-bottom: 1rem;
}

#menu-dropdown-settings-delete-button {
    @include custom_hover_button($color-accent, $color_text_primary, 0.7rem, 0.25rem, 0.5rem);
}
