@import "../styles/main_styles.scss";

@mixin default_input_field($bg_color, $font_color, $width, $font_size) {
    width: $width;
    color: $font_color;
    background-color: $bg_color;
    border: none;
    padding: $font_size/2 $font_size/2;
    border-radius: $font_size/3;
    outline: none;
    box-shadow: $box_shadow_default;
    font-size: $font_size;

    &:focus {
        box-shadow: $box_shadow_elevated, 0 0 1px 2px $color-shadow-primary;
    }
}
