@import '../styles/main_styles.scss';

$focus_shadow: $box_shadow_elevated, 0 0 2px 4px $color-shadow-primary;

@mixin custom_button($bg_color, $font_color, $font_size, $padding_v, $padding_h) {
    background-color: $bg_color;
    border-radius: $padding_v;
    padding: $padding_v $padding_h;
    margin: 0;
    color: $font_color;
    border: none;
    outline: none;
    transition: $scale_transition;
}

@mixin custom_hover_button($bg_color, $font_color, $font_size, $padding_v, $padding_h) {
    @include custom_button($bg_color, $font_color, $font_size, $padding_v, $padding_h);
    box-shadow: $box_shadow_default;
    font-size: $font_size;
    box-shadow: $box_shadow_default;
    -webkit-box-shadow: $box_shadow_default;

    &:focus {
        box-shadow: $focus_shadow;
    }

    &:hover {
        transform: scale(1.04);
        box-shadow: $box_shadow_elevated;
        -webkit-box-shadow: $box_shadow_elevated;
    }

    &:active {
        transform: scale(0.96);
    }
}

@mixin flat_button($bg_color, $font_color, $font_size, $border_color) {
    background-color: $bg_color;
    padding: 0;
    margin: 0;
    color: $font_color;
    border: none;
    outline: none;
    font-size: $font_size;
    border-radius: $font_size / 2;
    transition: all 200ms;
    border: $font_size/8 solid $border_color;

    &:hover {
        color: darken($font_color, 20%);
        border-color: darken($border_color, 20%);
    }
}