$search-filter-section-button-font-size: 0.75rem;
$search-filter-section-button-padding-vertical: 0.5rem;
$search-filter-section-button-padding-horizontal: 1rem;
$search-filter-section-button-margin-top: 2 * $search-filter-section-button-font-size / 5;
$search-filter-section-button-img-height: 2 *
    ($search-filter-section-button-padding-vertical + $search-filter-section-button-font-size);
$search-filter-section-button-height: $search-filter-section-button-font-size + 2 *
    $search-filter-section-button-padding-vertical + $search-filter-section-button-margin-top +
    $search-filter-section-button-img-height;
