$font-family: "Open Sans", sans-serif;

// base #18171A, hsl(270, 5, 10) on https://colordesigner.io/
$color-primary: #896ca6; //16213e;
$color-secondary: #00c9ac; //0f3460;
$color-tertiary: #fefedf;
$color-accent: #f88397; //e94560;
$color-surface: #2b1546;
$color-link: #8597F2;

$color-base: #3d3940;
$color-background: #18171a;
$color-background-primary: #2b282d;
$color-background-secondary: #3a363d;
$color-background-tertiary: #514b55;

$color-text-primary: #f5f5f6;
$color-text-secondary: #b2adb6;
$color-text-tertiary: #9f98a3;
$color-text-quaternary: #6e6773;

$color-shadow-primary: #f5f5f648;
$color-shadow-primary-elevated: #f5f5f62c;
$color-shadow-black: #000f;
$color-shadow-black-elevated: #000a;

$scale_transition: all ease 220ms;

$box_shadow_default: 0 12px 24px -10px $color-shadow-black;
$box_shadow_elevated: 0 12px 32px -10px $color-shadow-black-elevated;

$navbar_logo_size: 1rem;

// colors where optimized with the following tools:
// https://mycolor.space
// https://colordesigner.io/

@mixin image_overlay {
    background: $color-secondary;
    background: -moz-radial-gradient(
        circle,
        rgba($color-secondary, 0.6) 10%,
        rgba($color-primary, 0.75) 50%,
        rgba($color-surface, 0.9) 90%
    );
    background: -webkit-radial-gradient(
        circle,
        rgba($color-secondary, 0.6) 10%,
        rgba($color-primary, 0.75) 50%,
        rgba($color-surface, 0.9) 90%
    );
    background: radial-gradient(
        circle,
        rgba($color-secondary, 0.6) 10%,
        rgba($color-primary, 0.75) 50%,
        rgba($color-surface, 0.9) 90%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-secondary,endColorstr=$color-surface,GradientType=1);
}