@import "../../styles/main_styles.scss", "../../styles/navbar_styles.scss", "../../styles/button_styles.scss",
    "../../styles/home_page_styles.scss";

.quick-event-search {
    width: 100%;
    display: flex;
    justify-content: center;

    #quick-event-search-button {
        @include custom_hover_button($color-secondary, $color_text_primary, 2rem, 0.25rem, 0.5rem);
        margin: 3rem 0 2.25rem 0;
        padding: 0.75rem 2rem;
        border-radius: 1rem;
    }
}

.select-page {
    position: relative;
}

.select-country-page,
.select-genre-page {
    position: absolute;
    top: 0;
    left: 0;
}

.select-country-page {
    opacity: 0.5;
}

.search-filter-section-container {
    display: flex;
    position: sticky;
    top: 1rem + $navbar_menu_icons_size;
    z-index: 3;
    flex-wrap: wrap;
    align-self: center;

    .search-filter-section {
        width: auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}

.country-changeable-placeholder {
    width: $search-filter-section-button-height;
}
