@import "../../styles/main_styles.scss";

h1,
h2,
h3,
h5 {
    margin: 0;
}

$card_image_height: 10em;

.card-selectable {
    background-color: $color-background-primary;
    width: 18em;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: $box_shadow_default;
    -webkit-box-shadow: $box_shadow_default;
    transition: $scale_transition;

    &:hover {
        transform: scale(1.03);
        box-shadow: $box_shadow_elevated;
        -webkit-box-shadow: $box_shadow_elevated;
    }

    h2 {
        color: $color-text-primary;
        margin-top: -0.2em;
        line-height: 1.4;
        font-size: 1.3em;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        transition: all ease-in 100ms;
    }

    p {
        color: $color-text-secondary;
    }

    h5 {
        color: $color-text-quaternary;
        font-weight: 700;
        font-size: 0.7em;
        letter-spacing: 0.04em;
        margin: 1.4em 0 0 0;
        text-transform: uppercase;
    }

    .card-img-div {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
            height: $card_image_height;
        }

        .img-overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: $card_image_height;
            opacity: 0.2;
            @include image_overlay;
        }
    }
}

.card-body {
    padding: 1.2em;
}
