$card_height: 2.5rem;
$border_radius: $card_height / 8;
$flag_height: $card_height / 2;

.contact-box {
    display: flex;
    flex-direction: row;
    border-radius: $border_radius;
    padding: $card_height / 1.5 $card_height / 3;
    margin: $card_height / 4 0;
    align-items: center;
    height: $card_height;

    .card-body {
        padding: 0;
    }

    &:hover {
        background-color: #0005;
    }

    .delete-icon img{
        height: 1.5 * $flag_height;
    }
}

.contact-box-country-img {
    position: relative;
    display: inline-flex;
    height: $flag_height;
    max-height: $flag_height;
    margin: 0 $flag_height / 2;

    img {
        object-fit: scale-down;
        height: 100%;
        z-index: 1;
        border-radius: $border_radius;
    }
}
