@import "../../../styles/main_styles.scss", "../../../styles/navbar_styles.scss", "../../../styles/button_styles.scss";

$z-index: 10;

#navbar-auth {
    height: $navbar_menu_icons_size + 2 * $navbar_menu_icons_margin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: $z-index;
}

#login-button {
    @include flat_button($color-background, $color-text-primary, 1.2rem, #0000);
}
#register-button {
    @include flat_button($color-background, $color-text-primary, 1.2rem, $color-text-primary);
}

#login-button,
#register-button {
    padding: 0.25rem 0.5rem;
    margin: 0 0.5rem;
    box-shadow: 0px 0px 12px 2px $color-background;
}

.active-auth-button {
    text-decoration: underline;
}
