@import "../../styles/main_styles.scss", "../../styles/navbar_styles.scss", "../../styles/button_styles.scss";

$z-index: 10;

.navbar-dropdown-container {
    max-width: 5 * $navbar_menu_icons_size + 8 * $navbar_menu_icons_margin;
    max-height: 60vh;
    position: fixed;
    top: $navbar_menu_icons_size + 3 * $navbar_menu_icons_margin;
    right: $navbar_menu_icons_margin;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: $navbar_menu_icons_size / 8;
    z-index: $z-index;
    padding: $navbar_menu_icons_margin*2.5 $navbar_menu_icons_margin $navbar_menu_icons_margin*2.5 $navbar_menu_icons_margin;
    background-color: rgba($color-background-primary, 0.8);
    display: flex;
    flex-direction: column;
    box-shadow: $box_shadow_default;
    -webkit-box-shadow: $box_shadow_default;
}