@import "../../styles/main_styles.scss", "../../styles/navbar_styles.scss";

$z-index: 10;

#navbar {
    background: $color-background;
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: space-between;
    padding: 0;
    height: $navbar_menu_icons_size + 2 * $navbar_menu_icons_margin;
}

$logo-padding: 0.4rem;

.logo {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    height: $navbar_menu_icons_size;
    align-items: center;
    border-radius: $navbar_menu_icons_size / 8;
    z-index: $z-index;
    margin: $navbar_menu_icons_margin;
    box-shadow: 0 0 1rem 0.2rem rgba($color-background, 0.8);
    background-color: rgba($color-background, 0.9);
    transform-origin: center;
    transition: all 200ms;
    padding: $logo-padding;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 1rem 0.2rem rgba($color-primary, 1);
        background-color: rgba($color-background, 2);
    }

    &:active {
        transform: scale(0.95);
        box-shadow: 0 0 1rem 0.2rem rgba(white, 0.6);
    }
}
