@import "../styles/main_styles.scss", "../styles/navbar_styles.scss", "../styles/button_styles.scss",
    "../styles/atomic_components.scss";

$z-index: 10;

.close-dropdown-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    z-index: $z-index + 1;
    @include custom_button($color-background-primary, $color-accent, 4rem, 0, 0rem);
    transform-origin: top right;
    transition: all 150ms;
    border-radius: $navbar_menu_icons_size / 32;
    line-height: 0;
    padding: $navbar_menu_icons_size / 24;

    .close-icon {
        height: $navbar_menu_icons_size / 3;
        width: $navbar_menu_icons_size / 3;

        g line {
            stroke: $color-accent;
            transition: all 450ms;
            stroke-width: 30;
        }
    }

    &:hover {
        transform: scale(1.1);

        .close-icon g line {
            stroke-width: 45;
        }
    }
}
