@import "../styles/main_styles.scss", "../styles/home_page_styles.scss";

.delete-icon {
    filter: brightness(0.8);
    transition: all 200ms;
    transform-origin: center;
    padding: 0.1rem;
    border-radius: 0.25rem;

    &:hover{
        filter: brightness(1);
        box-shadow: 0 0 6px 2px #fff4;
        background-color: $color-accent;
    }

    &:active{
        transform: scale(0.9);
    }
}