@import "../styles/main_styles.scss", "../styles/home_page_styles.scss";

$card_height: $search-filter-section-button-height * 0.9;
$edit_size: $card_height/5;
$border_radius: $edit_size / 2.5;
$scale: 0.25;

.flag-card {
    position: relative;
    display: inline-flex;
    height: $card_height;
    max-height: $card_height;
    border-radius: $border_radius;
    box-shadow: $box_shadow_default;
    -webkit-box-shadow: $box_shadow_default;

    img {
        object-fit: scale-down;
        height: 100%;
        border-radius: $border_radius;
        z-index: 1;
    }

    .edit-button {
        position: absolute;
        top: -0.3px;
        right: -0.3px;
        z-index: 2;
        padding: 0;
        color: $color-text-primary;
        background-color: $color-background;
        height: $edit_size;
        width: $edit_size;
        border-radius: 0 0 0 $border_radius * 0.75;
        transform-origin: top right;
        transform: scale(1);
        transition: $scale_transition;

        &:hover {
            transform: scale(1 + $scale);
        }
    }
}
