@import "../styles/main_styles.scss";

$card_image_button_font_size: 0.8em;
$card_image_button_padding: 0.25em;

.image-link-button {
    position: absolute;
    right: -1px;
    bottom: -1px;
    padding: $card_image_button_padding;
    font-size: $card_image_button_font_size;
    color: rgba($color-text-tertiary, 0.6);
    background-color: rgba($color-background-primary, 0.6);
    border: none;
    border-radius: 5px 0 0 0;
    cursor: pointer;
    transform-origin: bottom right;
    transition: $scale_transition;
    z-index: 10;

    &:hover {
        transform: scale(1.03);
        color: rgba($color-text-tertiary, 1);
        background-color: rgba($color-background-primary, 0.9);
    }
}