@import "../styles/main_styles.scss", "../styles/atomic_components.scss";

.search-bar {
    @include default_input_field($color-background-primary, $color-text-primary, 26rem, 1.25rem);
    margin: 0 1rem;
    
    &::placeholder,
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder {
        text-align: center;
    }

    &:-ms-input-placeholder {
        text-align: center;
    }
}
