@import "../styles/main_styles.scss", "../styles/button_styles.scss", "../styles/home_page_styles.scss";

.select-all-button {
    @include custom_hover_button(
        $color_primary,
        $color_text_primary,
        $search-filter-section-button-font-size,
        $search-filter-section-button-padding-vertical,
        $search-filter-section-button-padding-horizontal
    );

    .select-all-img {
        height: $search-filter-section-button-img-height;
        transition: $scale_transition;
        transform: scale(1);
    }

    h5 {
        margin: 0;
        margin-top: $search-filter-section-button-margin-top;
        font-weight: 700;
        font-size: $search-filter-section-button-font-size;
        text-transform: uppercase;
    }

    &:hover {
        .select-all-img {
            transform: scale(1.1);
        }
    }

    &:active {
        .select-all-img {
            transform: scale(0.8);
        }
    }
}
