@import "../../../styles/main_styles.scss", "../../../styles/navbar_styles.scss";

$icon_padding: $navbar_menu_icons_size / 8;
$actual_icon_size: $navbar_menu_icons_size - 2 * $icon_padding;
$color_transition: all 100ms;

.nav-menu-icon {
    z-index: 80;
    display: inline-block;
    background-color: $color-background;
    padding: $icon_padding;
    margin: $navbar_menu_icons_margin;
    border-radius: $actual_icon_size / 8;
    box-shadow: 0 0 14px 3px $color-background;
    transition: $color_transition;

    .select-all-img {
        height: $actual_icon_size;
        width: $actual_icon_size;

        transform: scale(1);
        transition: $color_transition;
        filter: brightness(0.8);
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 18px -3px #fff7;
        background-color: $color-primary;

        .select-all-img {
            cursor: pointer;
            filter: brightness(1);
        }
    }

    &:active {
        transform: scale(0.98);
        background-color: $color-secondary;

        .select-all-img {
            filter: brightness(1);
        }
    }
}
