@import "../../../styles/navbar_styles.scss";

.navbar-menu {
    display: flex;
    align-items: flex-start;
    height: $navbar_menu_icons_size + 2 * $navbar_menu_icons_margin;
}

.navbar-menu-items {
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    align-items: flex-start;
    z-index: 10;
}
