@import './styles/main_styles.scss';

body {
    display: flex;
    background: $color-background;
    padding: 0;
    min-height: 100vh;
    align-items: flex-start;
    font-family: $font-family;
    color: $color-text-primary;
}

#root {
    width: 100%;
}

#main-div {
    display: flex;
    flex-direction: column;
}

#footer {
    display: flex;
    height: 3em;
    background-color: $color-background-primary;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}