$carousel-image-height: 384px;
$carousel-image_button_padding: 0.25em;
$carousel-image_button_font_size: 0.8em;

.carousel {
    //max-height: 256px !important;
    .carousel-item {
        object-fit: cover;
        max-height: 384px !important;

        .img-overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: $carousel-image-height;
            background: #0005;
        }

        .button-show-on-unsplash {
            z-index: 100;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: $carousel-image_button_padding;
            margin: 0.2em;
            font-size: $carousel-image_button_font_size;
            text-align: center;
            color: white;
            background-color: #ccc7;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                transform: scale(1.03);
            }
        }
    }
}
